/* You can add global styles to this file, and also import other style files */

body {
  font-family: Tienne;
  width: 100vw;
  background-color: #242422;
  overflow-x: hidden;
}

h1 {
  color: #fbf6e5;
}

p {
  color: #a39992;
}

/* ScrollBar Style ---------- */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D3AEA2;
  border-radius: 10px;
  transition: 1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a1624c;
}

html {
  scroll-behavior: smooth;
}
