/* You can add global styles to this file, and also import other style files */

body {
  font-family: Tienne;
  width: 100vw;
  background-color: #242422;
  overflow-x: hidden;
}

h1 {
  color: #fbf6e5;
}

p {
  color: #a39992;
}
