<div class="header-container" [ngsReveal]="{ reset: false}">
  <div class="logo-container">
    <img src="../../assets/logo-femme.png" alt="" class="logo">
  </div>
</div>
<div class="commande" [ngsReveal]="{ reset: false}">
  <a href="#histoire" class="lien-header">Histoire &nbsp;&nbsp;&nbsp;</a> —
  <a href="#cuisine" class="lien-header">&nbsp;&nbsp;&nbsp;Menu&nbsp;&nbsp;&nbsp;</a> —
  <a href="#map" class="lien-header">&nbsp;&nbsp;&nbsp;Contact</a>
</div>

<div class="corps-container">
  <div class="banner-container">
    <h1 class="banner-text" id="histoire">Dame de<br>Coeur</h1>
  </div>
  <div class="rubrique-container" [ngsRevealSet]="{ reset:false}" [ngsInterval]="50" [ngsSelector]="'.rubrique-container'">
    <div class="rubrique-title">
      Notre histoire
    </div>
    <div class="rubrique-logo">
      <img src="../../assets/logo-femme.png" alt="" class="logo-mini">
    </div>
    <div class="rubrique-text">
      C’est dans le cœur historique de Paris, sur l’île de la Cité, que se cache cette belle adresse traditionnelle. Jolies boiseries et banquettes douillettes y créent une ambiance chaleureuse, propice aux plaisirs épicuriens. <br> <br>
      De génération en génération, les Duchatel entretient ce trésor familiale entre maintien des traditions et changements modernes, créant une ambiance unique où petits comme anciens se retrouvent pour profiter de la bonne cuisine française, signée Duchatel. En effet, si la Tradition occupe une place centrale, on ne cherche pas pour autant à y resservir les « saveurs du passé » mais l’on offre aux gourmands et aux gourmets les plaisirs éternels d’une cuisine simple et généreuse soumise au tamis de l’originalité de notre chef.
    </div>
  </div>
  <div class="notre-dame-container">
    <img src="../../assets/notre-dame.png" alt="" class="notre-dame">
  </div>
  <div class="paysage">
    <img src="../../assets/notre-dame2.jpg" alt="" class="full-img">
  </div>
  <div class="rubrique-container">
    <div class="rubrique-title">
      Plus qu'un héritage, un devoir
    </div>
    <div class="rubrique-logo">
      <img src="../../assets/logo-femme.png" alt="" class="logo-mini">
    </div>
    <div class="rubrique-text">
      En mettant l'accent sur les ingrédients français, nous servons des plats aux saveurs véritables et de qualité. Tout est fait maison, et avec amour par notre chef, afin de faire chavirer vos papilles par l'authentique. <br> <br>
      En cuisine, le chef remet au goût du jour des recettes d’hier, sans oublier d’être créatif et inspiré. Ici, la carte évolue au fil des saisons, révélant avec finesse et générosité les produits du terroir, d’une grande qualité. Vous entendez ? Fraîcheur et authenticité résonnent dans toute la maison. Le menu change quotidiennement et la carte évolue régulièrement aux grès des arrivages saisonniers et de l’inspiration du chef. <br> <br>
      Ce qui ne varie pas, par contre, c’est le souci permanent de la qualité, de l’accueil et de ce petit rien d’élégance qui fait d’une belle assiette une promesse de bonheur gustatif.
    </div>
  </div>
  <div class="paysage">
    <img src="../../assets/typique.jpg" alt="" class="full-img">
  </div>
  <div class="rubrique-container">
    <div class="rubrique-title">
      Un espace intime
    </div>
    <div class="rubrique-logo">
      <img src="../../assets/logo-femme.png" alt="" class="logo-mini">
    </div>
    <div class="rubrique-text">
      Une carte folle et aux multiples visages ? Oui, mais un service constant, attentif et prévenant. Par son coté rustique et intimiste, vous êtes à l'endroit parfait pour un moment de calme et de quiétude - non sans des papilles troublées par tant de merveilles. <br> <br>
      En famille, en amis ou entre collègues, vous avez la possibilité de réserver une salle privée afin de fêter sans encombre les heureux événements de la vie ou congrès professionnels.
      Tous les éléments sont donc réunis pour vous faire vivre un moment gustatif unique. <br> <br>
      Et pour terminer ce programme, filez vous balader vers Notre-Dame.
    </div>
  </div>
  <div class="paysage">
    <img src="../../assets/cuisine.jpg" alt="" class="full-img">
  </div>
  <div class="menu-container" id="cuisine" [ngsRevealSet]="{ reset:true}" [ngsInterval]="50" [ngsSelector]="'.menu-title'">
    <div class="menu-title">
      <div class="menu-title-text">Créations froides</div>
    </div>
    <div class="menu-contenu" [ngsRevealSet]="{ reset:true}" [ngsInterval]="100" [ngsSelector]="'.plat'">
      <div class="plat-left">
        <div class="plat">
          <div class="plat-title">
            <div>Chaud-froid de sole contisé de truffe noire</div>
            <div class="number">53</div>
          </div>
          <div class="plat-text">Minéralité de céleri et salinité de coquillages Pistaches</div>
        </div>
        <div class="plat">
          <div class="plat-title">
            <div>Émincés à cru, Saint-Pierre mariné au persil</div>
            <div class="number">42</div>
          </div>
          <div class="plat-text">Brunoise multicolore et herbes</div>
        </div>
      </div>
      <div class="plat-right">
        <div class="plat">
          <div class="plat-title">
            <div>Terrine de gibier à plumes, en gelée au vin de Xérès</div>
            <div class="number">50</div>
          </div>
          <div class="plat-text">Toast baguette</div>
        </div>
        <div class="plat">
          <div class="plat-title">
            <div>Huîtres spéciales, granité herbacé</div>
            <div class="number">65</div>
          </div>
          <div class="plat-text">Tout petits croûtons citronnés</div>
        </div>
      </div>
    </div>
    <div class="menu-title">
      <div class="menu-title-text">Créations chaudes</div>
    </div>
    <div class="menu-contenu">
      <div class="plat-left">
        <div class="plat">
          <div class="plat-title">
            <div>Soufflé au fromage, à la vapeur</div>
            <div class="number">45</div>
          </div>
          <div class="plat-text">
            <div>Foie gras croquant et sauce Albufera (À la truffe blanche d’Alba)</div>
          </div>
        </div>
        <div class="plat">
          <div class="plat-title">
            <div>Quenelles de noix de coquilles Saint-Jacques</div>
            <div class="number">56</div>
          </div>
          <div class="plat-text">Duxelles et crus de Paris</div>
        </div>
      </div>
      <div class="plat-right">
        <div class="plat">
          <div class="plat-title">
            <div>Mousseline de brochet, en pain brioché</div>
            <div class="number">51</div>
          </div>
          <div class="plat-text">Extraction de céleri</div>
        </div>
      </div>
    </div>
    <div class="menu-title">
      <div class="menu-title-text">Créations végétales</div>
    </div>
    <div class="menu-contenu">
      <div class="plat-left">
        <div class="plat">
          <div class="plat-title">
            <div>Épinards monstrueux de Viroflay, en soupe</div>
            <div class="number">19</div>
          </div>
          <div class="plat-text">
            <div>À la scamorza, râpé de noix de muscade brûlée</div>
          </div>
        </div>
        <div class="plat">
          <div class="plat-title">
            <div>Fondant d’aubergine épicé, coulis d’avocat</div>
            <div class="number">21</div>
          </div>
          <div class="plat-text">Petits croûtons dorés</div>
        </div>
      </div>
      <div class="plat-right">
        <div class="plat">
          <div class="plat-title">
            <div>Petites betteraves, en amertume de chocolat</div>
            <div class="number">23</div>
          </div>
          <div class="plat-text">Pistou d’olive noire et ricotta</div>
        </div>
        <div class="plat">
          <div class="plat-title">
            <div>Sandwich de feuilles d’épinard</div>
            <div class="number">19</div>
          </div>
          <div class="plat-text">Pomme croustillante en son sein</div>
        </div>
      </div>
    </div>
    <div class="menu-title">
      <div class="menu-title-text">Pâtes et Ravioles</div>
    </div>
    <div class="menu-contenu">
      <div class="plat-left">
        <div class="plat">
          <div class="plat-title">
            <div>Tortelli de courge</div>
            <div class="number">31</div>
          </div>
          <div class="plat-text">Hommage à Nadia et Giovanni Santini Beurre fondu et parmesan</div>
        </div>
        <div class="plat">
          <div class="plat-title">
            <div>Tagliatelles sans gluten, extraction maïs au caviar</div>
            <div class="number">96</div>
          </div>
          <div class="plat-text">Peau de poulet crustillante</div>
        </div>
      </div>
      <div class="plat-right">
        <div class="plat">
          <div class="plat-title">
            <div>Ravioles potagères, extraction des mêmes légumes</div>
            <div class="number">26</div>
          </div>
          <div class="plat-text">Huile d'olive vierge</div>
        </div>
      </div>
    </div>
    <div class="menu-title">
      <div class="menu-title-text">Poissons et Viandes</div>
    </div>
    <div class="menu-contenu">
      <div class="plat-left">
        <div class="plat">
          <div class="plat-title">
            <div>Feuille à feuille de barbue, braisé à la vapeur</div>
            <div class="number">51</div>
          </div>
          <div class="plat-text">Lait fermenté et condiments</div>
        </div>
        <div class="plat">
          <div class="plat-title">
            <div>Filets de rouget, en éventail croustillant</div>
            <div class="number">46</div>
          </div>
          <div class="plat-text">Duxelles de cèpes</div>
        </div>
        <div class="plat">
          <div class="plat-title">
            <div>Turbot nacré, nage aux perles colorées</div>
            <div class="number">55</div>
          </div>
          <div class="plat-text">Volée d’herbes aromatiques</div>
        </div>
      </div>
      <div class="plat-right">
        <div class="plat">
          <div class="plat-title">
            <div>Wagyu grade 4, en vrai Strogonoff</div>
            <div class="number">86</div>
          </div>
          <div class="plat-text">Pailles de pommes de terre fleurées au paprika</div>
        </div>
        <div class="plat">
          <div class="plat-title">
            <div>Boudin noir et côtes de cochon de lait, à la plancha</div>
            <div class="number">67</div>
          </div>
          <div class="plat-text">Salade d’herbes folles</div>
        </div>
        <div class="plat">
          <div class="plat-title">
            <div>Dos de chevreuil rôti au genièvre</div>
            <div class="number">49</div>
          </div>
          <div class="plat-text">Champignons marinés, gels et condiments</div>
        </div>
      </div>
    </div>
    <div class="menu-title">
      <div class="menu-title-text">Desserts</div>
    </div>
    <div class="menu-contenu lastMenu">
      <div class="plat-left">
        <div class="plat">
          <div class="plat-title">
            <div>Tuile « boudoir », aux fraises des bois</div>
            <div class="number">22</div>
          </div>
          <div class="plat-text">Mousse de lait frappée</div>
        </div>
        <div class="plat">
          <div class="plat-title">
            <div>Parfait, glacé au café et crème pistache salé</div>
            <div class="number">22</div>
          </div>
          <div class="plat-text">Brioche fleurée</div>
        </div>
      </div>
      <div class="plat-right">
        <div class="plat">
          <div class="plat-title">
            <div>Glace de chèvre frais</div>
            <div class="number">22</div>
          </div>
          <div class="plat-text">Baies noires assaisonnées de fleurs Gelée aux perles d’huile d’olive</div>
        </div>
        <div class="plat">
          <div class="plat-title">
            <div>Plombière de poire, jus frais</div>
            <div class="number">22</div>
          </div>
          <div class="plat-text">Gavottes pincées</div>
        </div>
      </div>
    </div>
  </div>
  <div class="paysage2">
    <img src="../../assets/table.jpg" alt="" class="full-img">
  </div>
  <div class="rubrique-container">
    <div class="rubrique-logo">
      <img src="../../assets/logo-femme.png" alt="" class="logo-mini">
    </div>
    <div class="rubrique-text">
      Qu'attendez-vous pour profiter de ce merveilleux cadre, quel qu’en soit l'occasion ou l’événement ? Pas besoin d'excuse pour se faire plaisir et apprécier la qualité et le service professionnel que nous proposons. Dans un cadre chaleureux au cœur historique de Paris, venez déguster une cuisine nourrie des traditions des terroirs de France et saupoudrée d’étincelles en provenance d’horizons plus lointains. <br> <br>
      Si vous souhaitez plus de renseignements ou réserver une table en notre sein, n'hésitez pas à nous contacter. Toutes les informations nécessaires sont plus bas, à votre disposition.
    </div>
  </div>
  <div id="map-container">
    <div class="map" id="map" class="match-parent"></div>
  </div>
  <div class="contact-container">
    <div class="contact-left" [ngsRevealSet]="{reset: true}" [ngsInterval]="50" [ngsSelector]="'.text2'">
      <div class="text2 contact-title">Contact</div>
      <div class="text2 logo-mini2"><img src="../../assets/logo-femme.png" alt="" class="logo-mini2"></div>
      <div class="text2 contact-text1">
        10 quai de Montebello,<br>75005 Paris
      </div>
      <div class="text2 contact-text2">
        01 09 56 27 96<br>contact@dame-de-coeur.fr
      </div>
    </div>
    <div class="contact-right">
      <div class="contact-right-slim" [ngsRevealSet]="{reset: true}" [ngsInterval]="50" [ngsSelector]="'.text'">
        <div class="text contact-title2">
          <strong>Horraires d'ouverture et évènements</strong>
        </div>
        <div class="contact-text3">
          <div class="text">LUN-MER 11:00-22:30<br></div>
          <div class="text">JEU-VEN 11:00–00:00<br></div>
          <div class="text">SAM 12:00–23:30<br></div>
          <div class="text">DIM 12:00–22:30<br><br></div>

          <div class="text"><strong>REVEILLON DE NOEL</strong><br></div>
          <div class="text">23. DECENBRE : 11:00–17:00<br></div>
          <div class="text">24. — 25. DECEMBRE : FERME<br></div>
          <div class="text">26. — 30. DECEMBRE : 12:00–23:00<br><br></div>
          <div class="text"><strong>NOUVEL AN</strong><br></div>
          <div class="text">31. DECEMBRE: 11:30–00:30<br></div>
          <div class="text">1. JANVIER : 12:00–23:00</div>
        </div>
      </div>
    </div>
  </div>
</div>
